doctype html
html(lang="en")
  head
    include compontents/inhead
    title Document
  body 
    include compontents/header
    main 
      section 
        h1 About us pleae 
        p  00000000000000000000000


    include compontents/footer